/Sources/WotDossier.Applications/bin
/Sources/WotDossier.Applications/obj
/Sources/WotDossier/bin
/Sources/WotDossier/obj
/Sources/WotDossier.Common/bin
/Sources/WotDossier.Common/obj
/Sources/WotDossier.Dal/bin
/Sources/WotDossier.Dal/obj
/Sources/WotDossier.Domain/bin
/Sources/WotDossier.Domain/obj
/Sources/WotDossier.Framework/bin
/Sources/WotDossier.Framework/obj
/Sources/WotDossier.ReplaysManager/bin
/Sources/WotDossier.ReplaysManager/obj
/Sources/WotDossier.Resources/bin
/Sources/WotDossier.Resources/obj
/Sources/WotDossier.Test/bin
/Sources/WotDossier.Test/obj
/Sources/packages
/Sources/*.suo
/Sources/*.user
/Sources/WotDossier/*.user
