<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.90.0" targetFramework="net40" />
</packages>