<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    </configSections>
    <!-- LOG4NET configuration -->
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1211">
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/Config/Log4Net.xml" />
            </factoryAdapter>
        </logging>
    </common>
    <!-- NHIBERNATE configuration -->
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
            <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
            <property name="connection.connection_string">Data Source=Data/dossier.s3db;Version=3;New=True;BinaryGuid=False</property>
        </session-factory>
    </hibernate-configuration>

    <appSettings>
        <add key="api" value="2.0" />
        <add key="settings-path" value="\app.settings" />
        <add key="slice-time" value="04:00" />
        <add key="app_id.ru" value="19779cdf6e8aab1a8c99e1261274f13b" />
        <add key="app_id.eu" value="d0a293dc77667c9328783d489c8cef73" />
        <add key="app_id.us" value="demo" />
        <add key="app_id.kr" value="demo" />
        <add key="app_id.asia" value="demo" />
        <add key="update.download-url" value="https://drive.google.com/folderview?id=0B214mHv6250YYWZ0bGV4NmNRNzQ" />
        <add key="update.check-version-url" value="http://goo.gl/nvI6ZH" />
        <add key="update.forum-url" value="http://forum.worldoftanks.ru/index.php?/topic/890389-wotdossier/" />
    </appSettings>

    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        </DbProviderFactories>
    </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
